.image
    width: 100vw
    padding: 0.6rem

    & img
        margin: auto
        max-width: 100%
        height: auto
        display: block

.shadow
    position: relative
    margin: auto
    max-width: 100%
    height: auto
    width: fit-content

.shadow:before
    display: block
    content:''
    position: absolute
    width: 100%
    height: 100%
    -moz-box-shadow: inset 0px 0px 8px 8px #000
    -webkit-box-shadow: inset 0px 0px 8px 8px #000
    box-shadow: inset 0px 0px 8px 8px #000

.slides
    background: black

.slick-arrow
    display: none !important